body {
  background-color: #CDFADB;
}

h1, h2 {
  color: #211951;
}

.container {
  display: flex;
  justify-content: center;
}

button {
  background: #FF8080;
  padding: 15px;
  border: none;
  color: #211951;
  margin-top: 10px;
  font-size: 17px;
}